.input-wrapper {
	max-width: 500px;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;
}

#city {
	width: 100%;
	outline: none;
}

#get-weather {
	margin-left: 10px;
	width: 300px;
}

.weather {
	display: flex;
	flex-direction: column;
	max-width: 500px;
	width: 100%;
}

.weather__item {
	padding: 3px 7px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	border: 1px solid #ccc;
}